.quiz-container {
    margin: 0rem;
    text-align: center;
    padding: 0;
    min-height: 100vh;
    color: #fd7200;
  }

  h2 {
    margin-top: 0;
    padding-top: 3rem;
  }

  h3 {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    margin: 30px 45px 20px 45px;
  }
  
  .question-section {
    margin-bottom: 1.5rem;
  }
  
  .answers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .answer-button {
    width: 250px;
    margin: 0.5rem;
    padding: 0.7rem 2.5rem;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: #fd7200;
    font-weight: bold;
    border-radius: 30px;
    border-color: #fd7200;
    cursor: pointer;
  }
  
  .answer-button:hover {
    background-color: #fd7200;
    color: white;
  }

  .answer-button.selected {
    background-color: #fd7200;
    color: white;
  }
  
  .judge-text{
    margin-top:30px;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  }

  p {
    margin: 5px;
  }

  .correct-answer {
    margin: 5px 40px;
    font-weight: bold;
  }

  .explanation{
    font-size: 0.9rem;
    margin: 5px 40px;
  }

  .next-button {
    width: 250px;
    margin: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.7rem 2.5rem;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: #fd7200;
    font-weight: bold;
    border-radius: 50px;
    border-color: #fd7200;
    cursor: pointer;
  }

  .quiz-result {
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  }

  .correct-Rate {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.5);
  }

  .home-back {
    width: 250px;
    margin: 3rem 1rem;
    padding: 0.7rem 2.5rem;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: #fd7200;
    font-weight: bold;
    border-radius: 50px;
    border-color: #fd7200;
    cursor: pointer;
  }