.quiz-container {
    margin: 0rem;
    text-align: center;
    background-color: #416bd5;
    padding: 0;
    min-height: 100vh;
    color: #fdb500;
  }

  h2 {
    margin-top: 0;
    padding-top: 3rem;
  }
  
  .question-section {
    margin-bottom: 1.5rem;
  }
  
  .answers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .answer-button {
    width: 300px;
    margin: 0.5rem 0;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    background-color: #fdb500;
    color: #416bd5;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .answer-button:hover {
    background-color: #ff8c00;
  }
  